<!DOCTYPE html>
<html lang="en" ng-app="dockery" ng-csp="">
<head>
    <meta charset="UTF-8">
    <title>{{$root.appName}}</title>
    <link rel="shortcut icon" href="assets/img/docker_icon.jpg">
    <link rel='stylesheet' href='assets/libs/bootstrap/dist/css/bootstrap.css'>
    <link rel='stylesheet' href='assets/libs/font-awesome/css/font-awesome.min.css'>
    <link rel="stylesheet" href="assets/libs/json-formatter/dist/json-formatter.min.css">
    <link rel="stylesheet" href="assets/libs/xterm.js/src/xterm.css">
    <link rel="stylesheet" href="assets/libs/toastr/toastr.min.css">
    <link rel='stylesheet' href='assets/css/custom.css'>
    <link rel='stylesheet' href='assets/css/angular-csp.css'>
    <link rel='stylesheet' href='assets/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css'>
</head>
<body>
<!-- BEGIN: Pre-Bootstrap Loading Screen. -->
<div class="dockery-loading" ng-animate-children>
    x
    <style type="text/css">
        div.dockery-loading {
            position: fixed;
        }

        div.dockery-loading div.preload-container {
            background-color: #FFFFFF;
            bottom: 0px;
            left: 0px;
            opacity: 1.0;
            position: fixed;
            right: 0px;
            top: 0px;
            z-index: 999999;
        }

        /* Used to initialize the ng-leave animation state. */
        div.dockery-loading div.preload-container.ng-leave {
            opacity: 1.0;
            transition: all linear 200ms;
            -webkit-transition: all linear 200ms;
        }

        /* Used to set the end properties of the ng-leave animation state. */
        div.dockery-loading div.preload-container.ng-leave-active {
            opacity: 0;
        }

        div.dockery-loading div.messaging {
            color: black;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            left: 0px;
            margin-top: -37px;
            position: absolute;
            right: 0px;
            text-align: center;
            top: 50%;
        }

        div.dockery-loading h1 {
            font-size: 26px;
            line-height: 35px;
            margin: 0px 0px 20px 0px;
        }

    </style>


    <div class="preload-container">

        <div class="messaging">
            <h1>
                Loading Dockery...
            </h1>
        </div>

    </div>

</div>


<div id="header" class="navbar  navbar-fixed-top" ng-cloak>
    <div class="navbar-header">
        <nav class="navbar navbar-default navbar-fixed-top ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/about"><span class="fa fa-desktop"></span> {{$root.appName}}
                    <small>{{appVersion}}</small>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a class="active" href="#/hosts"><span class="fa fa-server"></span> Hosts</a></li>
                    <li><a class="active" href="#/containers"><span class="fa fa-cubes"></span> Containers</a></li>
                    <li><a href="#/images"><span class="fa fa-database"></span> Images</a></li>
                    <li><a href="#/repositories"><span class="fa fa-cloud"></span> Repositories</a></li>
                    <li><a href="#/tasks" style="color: red" ng-show="$root.taskInProgress"><span class="fa fa-heartbeat"></span> Tasks <span class="badge">{{$root.tasks.length}}</span></a>
                    </li>
                    <li><a href="#/tasks" ng-show="!$root.taskInProgress"><span class=" fa fa-heartbeat"></span> Tasks <span class="badge">{{$root.tasks.length}}</span></a>
                    </li>
                    <!--<li><a href="#/events"><span class="fa fa-history"></span> Events</a></li>-->
                    <li><a href="#/hostDetails"><span class="fa fa-laptop"></span> Host details</a></li>
                </ul>
                <!--<ul class="nav navbar-nav pull-right">-->
                <!--<li><a href="#">Help</a></li>-->
                <!--</ul>-->
            </div>
        </nav>
    </div>
</div>
<br/>
<br/>
<br/>

<div ng-view class="container-fluid">
</div>
<!---->
<script src="assets/libs/jquery/dist/jquery.js"></script>
<script src="assets/libs/bootstrap/dist/js/bootstrap.js"></script>
<!---->
<script src="assets/libs/angular/angular.js"></script>
<script src="assets/libs/angular-ui/ui-bootstrap-tpls-0.13.4.min.js"></script>
<script src="assets/libs/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
<script src="assets/libs/angular-bootstrap-switch/dist/angular-bootstrap-switch.js"></script>
<script src="assets/libs/angular-messages/angular-messages.js"></script>
<script src="assets/libs/angular-route/angular-route.js"></script>
<script src="assets/libs/angular-resource/angular-resource.js"></script>
<script src="assets/libs/json-formatter/dist/json-formatter.js"></script>
<script src="assets/libs/xterm.js/src/xterm.js"></script>
<script src="assets/libs/oboe/dist/oboe-browser.js"></script>
<script src="assets/libs/toastr/toastr.min.js"></script>
<!---->
<script src="app/app.modules.js"></script>
<script src="app/app.filters.js"></script>
<script src="app/shared/services.js"></script>
<!---->
<script src="app/hosts/hosts.js"></script>
<script src="app/hostDetails/hostDetails.js"></script>
<script src="app/containers/containers.js"></script>
<script src="app/containerDetails/containerDetails.js"></script>
<script src="app/createContainer/createContainer.js"></script>
<script src="app/images/images.js"></script>
<script src="app/imageDetails/imageDetails.js"></script>
<script src="app/pushImage/pushImage.js"></script>
<script src="app/repositories/repositories.js"></script>
<script src="app/repositoryLogin/repositoryLogin.js"></script>
<script src="app/tasks/tasks.js"></script>
<script src="app/events/events.js"></script>
<script src="app/about/about.js"></script>
</body>
</html>
